/* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color:#2F4F4F;   
    }
    
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 100%}
    
    /* Set gray background color and 100% height */
    .lsidenav {
      padding-top: 20px;
      background-color:#5F9EA0;
      height: 100%;
      color:#8B0000;    
    }
.lin{
 margin-left:8px;
 margin-right:8px;
 height:250px;
 padding:8px;
 margin-top:10px;
 background-color:#EECCAA;
 color:black;
 border-radius:2em
 }
.lin ul.ln{
list-style-type:none;
font-size: 15px;
 }
.rsidenav ul.sin{
list-style-type:none;
color:darkslateblue;    
font-family:sans-serif;
    font-size: 22px;
 }
a:link {
  color:blue;
  text-decoration: none;} 
  a:hover {
color:#CC88BB;
text-decoration: none;}    
    .rsidenav {
      padding-top: 20px;
      background-color: #5F9EA0;
      height: 100%;
    }
    /* Set black background color, white text and some padding */
    footer {
      background-color:black;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
    .sta{
   font-family: Arial, Verdana, sans-serif;
  color:floralwhite;
  text-align:center;
  height:60px;
  width:auto;
  word-spacing:1em;
  background-color:darkgray;
  padding:4px;
  margin-top:-8px;   
	
}    
